.array-container {
    display: flex;
    width: 90vw;
    height: 93vh;
    justify-content: center;
    align-items: flex-end;
    padding-left: 5vw;
}

.array-bar {
    width: 5px;
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    height: 5vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
}
