/* .arr-container {
    display: inline-flex;
    flex-direction: row;
}

.arr-bar {
    width: 2px;
    background-color: rgba(100, 33, 44, 0.904);
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    padding: 1vh;
    display: flex;
    justify-content: space-around;
} */

.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }